@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.App {
  text-align: center;
  background: url('./backgroundImg.svg');
  height: 100vh;
  width: 100%;
  z-index: 1;
  box-shadow: 0 30px 40px rgba(0,0,0,.1);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.mt-10{
  margin-top: 10px;
}
.pt-45{
  padding-top: 45px;
}
.pb-30{
  padding-bottom: 30px;
}
.wave{
  /* background: url('./waves.jpeg'); */
  /* background-size: auto; */
}
.front-link{
    font-family: Kanit,sans-serif;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 1.8px;
    cursor: pointer;
    text-transform: uppercase;
    text-decoration: none;
    color: #1e375a;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
}
.front-link:hover{
  color: #2364d2;
}
.link-li{
  list-style: none;
  padding-left: 40px;
  display: inline;
}
.link-li-first{
  list-style: none;
}
.nav{
  padding:0px;
}
.button-chat{
    font-size: 14px;
    color: #1e375a !important;
    background-color: #fff !important;
    -webkit-border-radius: 5px !important;
    border-radius: 5px !important;
    -webkit-box-shadow: 0 20px 40px 0 rgb(165 179 212 / 20%) !important; 
    box-shadow: 0 20px 40px 0 rgb(165 179 212 / 20%) !important;
    border: 1px solid white !important;
    font-family: Kanit,sans-serif !important;
    font-size: 16px !important;
    font-weight: 700 !important;
    line-height: 1 !important;
    letter-spacing: 2px !important;
    text-transform: uppercase !important;
    text-decoration: none !important;
    padding-top: 13px !important;
    padding-bottom: 12px !important;
    float:right;
}
.button-chat:hover{
    color: #2364d2 !important;
    background-color: #fff !important;
}
.test-header{
    font-size: 48px;
    margin-bottom: 30px;
    font-family: Kanit,sans-serif;
    font-size: 50px;
    font-weight: 500;
    line-height: 1.2;
    color: #1e375a;
    margin-top: 50px;
    margin-bottom: 0;
    margin-left: 55px;
    /* float: left; */
    text-align: left;
}
.intro-text{
    font-size: 22px;
    line-height: 1.67;
    margin-top: 30px;
    margin-left: 55px;
    margin-bottom: 30px;
    color: rgba(30,55,90,.7);
    text-align: left;
    /* float: right; */
}
.get-start-button{
  vertical-align: top;
    font-family: Kanit,sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 1;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    background-color: #00abe4;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 20px 40px 0 rgb(35 100 210 / 20%);
    box-shadow: 0 20px 40px 0 rgb(35 100 210 / 20%);
    padding: 22px 30px;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    cursor: pointer;
}
.logo-wrapper{
  /* padding-right: 50px !important; */
}
.navbar-wrapper{
  /* float: left; */
  text-align: center;
  /* padding-right: 175px !important; */
}
.documentation-button{
  letter-spacing: 1px;
  color: #1e375a;
  background-color: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.button-wrapper{
  margin-top: 20px !important;
  text-align: left;
  margin-left: 54px;
}
.nav-column{
   padding-top :10px;
   /* margin-left:50px  */
}

@media (min-width: 1000px) {
  .greater-1000{
    display: block;
  }
  .lesser-1000{
    display: none
  }
}  

@media screen and (max-width: 1410px) {
  .link-li{
    list-style: none;
    padding-left: 30px;
    display: inline;
    } 
}

@media screen and (max-width: 1000px) {
 .greater-1000{
   display: none;
 }
 .lesser-1000{
   display: block
 }
 
.test-header{
  font-size: 48px;
  margin-bottom: 30px;
  font-family: Kanit,sans-serif;
  font-size: 45px;
  font-weight: 500;
  line-height: 1.2;
  color: #1e375a;
  margin-top: 50px;
  margin-bottom: 0;
  /* float: left; */
  text-align: left;
}
.logo-wrapper{
  padding-right: 20px !important;
}
}
@media screen and (max-width: 1000px) {
  .greater-1000{
    display: none;
  }
  .lesser-1000{
    display: block
  }
  
 .test-header{
   font-size: 48px;
   margin-bottom: 30px;
   font-family: Kanit,sans-serif;
   font-size: 30px;
   font-weight: 500;
   line-height: 1.2;
   color: #1e375a;
   margin-top: 50px;
   margin-bottom: 0;
   /* float: left; */
   text-align: left;
 }
 .logo-wrapper{
   padding-right: 20px !important;
 }
 }
/* @media screen and  (max-width:600){ 
.intro-text{
  font-size: 14px;
  line-height: 1.67;
  margin-top: 30px;
  margin-bottom: 30px;
  color: rgba(30,55,90,.7);
  text-align: left;
  /* float: right; */
/* } */
/* 
} */